.menyular{
    display: grid;
    grid-template-columns: auto auto;
    background-color:var(--secondary5-color) ; 
    margin-top: 80px;
}
.menyu-tetli{
    padding-top: 89px;
        padding-bottom: 23px;
        font-size: 42px;
        line-height: 100%;
}
.menyu-des{
    font-size: 28px;
    line-height: 140%;
    color: var(--secondary2-color);
    }
.menyu-des1{
    font-size: 22px;
        line-height: 140%;
        color: var(--main-color);
        padding-bottom: 53px;
}

.menyu2{
   background-color: var(--secondary-color); 
   margin-top: 100px;
   align-items: center;
   max-width: 686px;
   height: 475px;
   margin-bottom: 20px;
}
.ism{
   padding-left: 30px;
   padding-top:24px;
   padding-bottom: 24px;
   padding-right:400px ; 
   border-radius: 6px;
   margin-bottom: 20px;
}
.Telefon{
    padding-left: 30px;
        padding-top: 24px;
        padding-bottom: 24px;
        padding-right: 400px;
        border-radius: 6px;
        margin-bottom: 20px;
}
.kampanyqa{
    padding-left: 30px;
        padding-top: 24px;
        padding-bottom: 100px;
        padding-right: 400px;
        border-radius: 6px;
}
@media(max-width:860px) {
    .menyular{
        display: flex;
            flex-direction: column;
            align-items: center;

    }
}